body {
  font-family: var(--body-font-family);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font-family);
  color: rgb(var(--v-theme-accent2));
}

a {
  color: rgb(var(--v-theme-accent2));
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
