@import "@jogarcia/mgrid/container.scss";

@import "variables";
@import "general-styles";

@import "gap";

.border-dotted {
  border: 2px dotted #000000;
  border-color: rgb(223, 221, 218);
  width: fit-content;
}
